<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:Domain" value="ready-advice.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientId" value="a9df5a5b-5fd7-4d9d-993d-58cd1c8600e2" />
  </appSettings>
</configuration>