<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:Domain" value="ready-advice.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientId" value="3e3dab6a-ba47-4073-a151-c4d7401a5075" />
  </appSettings>
</configuration>